# Default ignored files
/../../../:JavaHomwork03/.idea/shelf/
/../../../:JavaHomwork03/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../:JavaHomwork03/.idea/httpRequests/
# Datasource local storage ignored files
/../../../:JavaHomwork03/.idea/dataSources/
/../../../:JavaHomwork03/.idea/dataSources.local.xml
